@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(http://fonts.googleapis.com/css?family=Raleway);

body{ 
	background:#FFF; }
.body_bg_opacity{
	background:rgba(255, 255, 255, 0.9);}
h1, h2, h3, h4, h5, h6{ 
	margin:0; 
	padding:0; 
	font-family: 'Raleway', sans-serif;    
	color:#333; 
	margin-bottom:10px; 
	font-weight:900;}
h2{
	font-size: 36px; 
	color:#222222;  
	text-align:center;  
	text-transform:uppercase;  
	margin-bottom:10px; }
.wpm_border{ 
	background:#352812;
	width:50px;
	height:5px;
	margin:0 auto;
	margin-bottom:80px;}
p{ 
	margin:0; 
	padding:0; 
	font-size: 16px; 
	line-height:24px; 
	color:#767676; 
	font-family: 'Source Sans Pro', sans-serif;}
.row{ 	
	max-width:1170px; 	
	margin:auto;}
img{ 
	width:100%; 
	max-width:100%; 
	height:auto; 
	display:block;}
a:hover{ 
	text-decoration:none; }
	
	.top_header{
	display:none;	
}
section .btn{ 
        background:#352812; 
	
	color:#FFF; 
	border:none;
	border-radius:4px;}
section .btn:hover{ 
	background:#0eaea2; 
	color:#FFF !important;}



::-webkit-input-placeholder { color:#666 !important; }
::-moz-placeholder { color:#666 !important; }
:-ms-input-placeholder { color:#666 !important; } 
input:-moz-placeholder { color:#666 !important; }




/************header start*********** */

.wpm_header_top{
	padding:10px 0px 0px; 
	background:#352812;
         }
.wpm_header_top p{  
	margin-top: 5px;
	color:#FFF;
	text-align:right;}
.wpm_header_top .col-sm-2 a{ 
	color:#FFF; 
	margin-bottom:12px;
	margin-bottom:10px;}
.wpm_header_top  a:hover{
	color:#ccc;}
.wpm_margin_right{ 
	margin-right:5px;}
.wpm_header_top .social{
	margin-top:5px;
	margin-bottom:10px;}	
.wpm_header_top i{
	width:25px;
	height:25px;
	color:#FFF;
	font-size:14px;
	text-align:center;
	padding-top:5px;
	border-radius:50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
	-webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;}
.wpm_header_top i:hover{
	color:#333;
	-webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;}		



	
.whtHeader{ display:none; }
#toTop {
	 display: none;  
     position: fixed;   
	 bottom: 5px;    
	 right: 5px;    
	 width: 40px;   
	 height: 40px;    
	 background:url(images/up.png) no-repeat; 
	 background-color: #FE5454;  
	 filter: alpha(opacity=40); /* For IE8 and earlier */ }
#toTop:hover {    
	 opacity: 0.8;    
	 filter: alpha(opacity=80); /* For IE8 and earlier */}

.wpm_header0{
width: 100%;
  background-color: rgba(0,0,0,0.3);  /* Set the transparency to 0.3 */
  overflow: hidden;
}
.wpm_header{
	 width:100%; 
	 background:#FFF; 
	 position:fixed;
	 z-index:999; 
	 border-bottom:1px solid #ccc; }
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	 background:rgba(0,0,0,.3); 
	 color:#FFF;}
.navbar-default .navbar-nav>li>a:focus{
	color:#FFF;
	background-color:#352812;
	-webkit-box-shadow: 0 -3px 0 0 rgba(0,0,0,0.25) inset;
    -moz-box-shadow: 0 -3px 0 0 rgba(0,0,0,0.25) inset;
    -ms-box-shadow: 0 -3px 0 0 rgba(0,0,0,0.25) inset;
    -o-box-shadow: 0 -3px 0 0 rgba(0,0,0,0.25) inset; }	 
.navbar-nav>li>.dropdown-menu{   
  padding: 0px 0;
  background-color: transparent;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border:none;
  border-radius:0px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.0);
  box-shadow: 0 6px 12px rgba(0,0,0,.0); }
.navbar-default .navbar-nav>.active>a{
	 background-color:#FFF !important; 
	 color:#FFF !important; }
.navbar-default .navbar-nav>.active>a:hover{
	 color:#CCC;}
.navbar-right .dropdown-menu{ 
	 right:auto;}  
.navbar-nav > li{
	 margin-left:1px; 
	 margin-right:1px;}
.navbar-default .navbar-nav>li>a{ 
	color:#222222;
    text-align: center; 
	padding:10px 15px;   
	margin-top: 10px;
	text-transform:uppercase;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
	transition: all 300ms linear 0s;
    -webkit-transition: all 300ms linear 0s;
    -moz-transition: all 300ms linear 0s;
    -ms-transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;}
.navbar-default .navbar-nav>li>a:hover{ 
	color:#FFF; 
	background-color:#352812;
	transition: all 300ms linear 0s;
    -webkit-transition: all 300ms linear 0s;
    -moz-transition: all 300ms linear 0s;
    -ms-transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
	-webkit-box-shadow: 0 -3px 0 0 rgba(0,0,0,0.25) inset;
    -moz-box-shadow: 0 -3px 0 0 rgba(0,0,0,0.25) inset;
    -ms-box-shadow: 0 -3px 0 0 rgba(0,0,0,0.25) inset;
    -o-box-shadow: 0 -3px 0 0 rgba(0,0,0,0.25) inset; }

.navbar-nav>li> .dropdown-menu li{ 
	border-bottom:1px solid #FFF;  }
.navbar-nav>li> .dropdown-menu>li>a{ 
	padding:10px 10px; 
	color:#FFF; 
	background:rgba(0,0,0,.3);} 
.navbar-nav>li> .dropdown-menu>li>a:hover{
	color:#ccc;}
.wpm_logo{
	width: auto;  
	height: 80px; 
	margin:10px 0px 10px;
	display:inline-block;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;}
.navbar-brand{
	padding:0px;} 
.wpm_navber{ 
	background:none; 
	border:none; 
	margin-top:20px;
   -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;}




.header_style{}
.header_style .wpm_logo{
	height: 60px;
	 -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}
.header_style .wpm_navber{
	margin-top: 10px;
	-webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}


/************header end************/




/************index content start************/

.wpm_slider_area{
	width:100%; padding-top: 0px;}
.glyphicon-chevron-left:before{ 
	font-family:FontAwesome; 
	content:'\f0a8';}
.glyphicon-chevron-right:before{
		font-family:FontAwesome; 
		content:'\f0a9';}
.carousel-control .glyphicon-chevron-right{ 
	font-size:40px; 
	color:#FFF;}
.carousel-control .glyphicon-chevron-left{ 
	font-size:40px ; 
	color:#FFF;}
.wpm_slider_area h1{ 
	font-size:40px; 
	color:#FFF; 
	margin-bottom:50px; 
	background:rgba(0, 0, 0, 0.5); 
	text-transform:uppercase; 
	padding:10px 20px; 
	display:inline-block;  }
.carousel-indicators li{ 
	background:#7A7885;
	border-radius:0px;}
.carousel-indicators .active{ 
	background:#352812;}
.wpm_slider_area .btn{ 
	background:#352812; 
	color:#FFF; 
	margin-bottom:80px; 
	font-size:22px; 
	border:1px solid #FFF;}
.wpm_slider_area .btn:hover{ 
	background:#352812;}
	
	
	


.wpm_about_area{
	width:100%;
	padding:100px 0px 70px;
	background:white;}
.wpm_about_area .col-sm-3{ 
	margin-bottom:30px;}	
.wpm_about_area .col-sm-5{ 
	margin-bottom:30px;}	
.wpm_about_area .col-sm-4{ 
	margin-bottom:30px;}	
.wpm_about_area .list-group-item{
	padding: 9px 15px;
	border-left:5px solid#352812;
	-webkit-transition: all .4s ease;
    transition: all .4s ease;}
.wpm_about_area .list-group-item:hover{
	border-left-color:#012C3C;
	-webkit-transition: all .4s ease;
    transition: all .4s ease;}
.wpm_about_area p{
	 margin-bottom:20px;}	
.wpm_about_area img{
	-webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;}	
   
   
   


.wpm_order_area{
	width:100%;
	background:url(images/bg.jpg) center center fixed;
	background-size:cover;
	text-align:center;}
.wpm_order_area .wpm_opacity{
	background:rgba(0, 0, 0, 0.7);
	padding:150px 0px 150px;}	
.wpm_order_area h3{
	color:#FFF;
	text-transform:uppercase;
	margin-bottom:30px;}
.wpm_order_area p{
	color:#FFF;}	
.wpm_order_area .btn{
	font-size:40px;
	padding:15px 40px;
	margin-bottom:20px;
	background:none;
	border:1px solid #FFF;}
	





.wpm_service_area{
	width:100%;
	padding:100px 0px 70px;
	background:#352812;}
.wpm_service_area .col-sm-4{
	margin-bottom:30px;}
.wpm_service_area .wpm_border{
	background: #333;
}	
.wpm_service_box{
	background:#FFF;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
    transition: all .4s ease;}
.wpm_service_box:hover{
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
    transform: translateY(-10px);
	box-shadow: 0 15px 10px -10px rgba(255, 255, 255, 0.5), 0 1px 4px rgba(255, 255, 255, 0.3), 0 0 40px rgba(255, 255, 255, 0.1) inset;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
    transition: all .4s ease;}
.blog_img{
	position:relative;}	
.wpm_service_box span{
	color:#FFF;
	background:#352812;
	font-size:30px;
	padding:10px;
	position:absolute;
	top:0;}	
.wpm_service_text{
	}	
.wpm_service_text h3{
	color:#FFF;
	background:#352812;
	padding:5px 15px 5px 15px;
	display:inline-block;}	
.wpm_service_text p{
	padding:0px 15px 20px;}




.wpm_portfolio_area{ width:100%; padding:100px 0px 100px; text-align: center; }
.wpm_mixitup_menu{margin-bottom: 20px;}
.wpm_mixitup_menu button{ color: #fff; font-size: 16px; padding: 10px 20px; margin-bottom: 5px; border: none; background: #000;}
.wpm_mixitup_menu button:hover{ background: #333;}
#Container{ width: 100% !important;}
#Container .mix{ display: none; width: 33%;}
	




	
.wpm_blog_area{
	width:100%; 
	padding:100px 0px 100px;
	background:#f2f0e2;
	
				}
.wpm_blog_area .item{
	margin-right:20px;}	
.wpm_blog_box{
	border:1px solid #CCC;
	padding:20px;}	
.wpm_blog_box .col-sm-6{
	padding:0px;}
.wpm_blog_box img{
  padding-right: 20px;}  
.wpm_left_padding{}		
.wpm_blog_box h1{
	text-transform:uppercase;}	
.wpm_blog_box .date{
	color:#352812;
	margin-bottom:10px;}
.wpm_blog_box p{
	margin-bottom:20px;}	








.wpm_contact_area{
	width:100%;
	padding:100px 0px 30px;
	background-image:url("./images/slider/back2.JPG");
	 background-position: center;
	 background-repeat: no-repeat;
	 }
.wpm_contact2_area{
	width:100%;
	padding:100px 0px 30px;
	background:white;
	 }
.wpm_contact_area .col-sm-8{
	margin-bottom:30px;}	
.wpm_contact_area .col-sm-4{
	margin-bottom:30px;}
.wpm_contact_area .col-sm-12 p{
	margin-bottom:10px;
    text-transform:uppercase;}
.wpm_contact_area .form-control{
	margin-bottom:30px;
	border-radius:0px;}	
.wpm_contact_area .form-control:focus{
	border-color: #352812;
	box-shadow: none;
	-webkit-box-shadow: none;
}	
.wpm_contact_area .btn{
	border-radius:0px;}		
.wpm_contact_box{
	padding:30px;
	border-top:2px solid #352812;}	
.wpm_contact_area .list-group-item{
	border-bottom:1px solid #ccc;
	border-radius:0px;}
.wpm_contact_box span{
	font-weight:bold;
	color:#000;
	width:90px;
	display:inline-block;
	margin-right:20px;}	





.wpm_happy_area{
	width:100%;
	padding:0px 0px 20px;
	text-align:left;
	background:#FFF;}
.wpm_happy_area .col-sm-6{
	margin-bottom:30px;}		
.wpm_happy_area p{
	margin-bottom:20px;}	
.wpm_happy_area .btn{
	padding:10px 20px;}	
.wpm_happy_area .wpm_btn{
	background:#DD4F43;}
.wpm_happy_area .wpm_btn:hover{
	background:#C9302C;}						


/************index content end************/




/************footer start************/


footer{ 
	width:100%;
	padding:80px 0px 0px; 
	background:#222222;}
footer .col-sm-4{ 
	margin-bottom:30px;}
footer h3{ 
	color:#FFF; 
	text-transform:uppercase;
	margin-bottom:30px;}
footer a{ 
	color:#FFF;}
footer a:hover{ 
	color:#352812;}
.wpm_contact_text{ 
	position:relative; 
	padding-left:50px; 
	margin-bottom:30px; }
.wpm_contact_text i{ 
	position:absolute; 
	left:0px; 
	top:5px; 
	color:#FFF; 
	font-size:15px; 
	text-align:center; 
	width:30px; 
	height:30px; 
	background:#454044; 
	padding-top:7px; 
	-webkit-border-radius: 50%; 
	-moz-border-radius: 50%; 
	border-radius: 50%;}
.wpm_recent_text{ 
	position:relative; 
	padding-left:90px; 
	margin-bottom:20px; 
	padding-bottom:20px;
	border-bottom:1px solid #443F43;}
.wpm_recent_text:last-child{ 
	border-bottom:none;}
.wpm_recent_text img{ 
	width:70px; 
	height:70px; 
	border:5px solid #443F43;  
	-webkit-border-radius: 50%; 
	-moz-border-radius: 50%; 
	border-radius: 50%; 
	position:absolute; 
	left:0px; 
	top:0px;}
footer .form-control{ 
	background:#2E2E2E; 
	border-color:#443F43; 
	color:#FFF; 
	padding:20px; 
	margin:20px 0px;
	border-radius:0px;}
footer .form-control:focus{
	border-color: #352812;
	box-shadow: none;
}	
footer .btn{ 
	width:100%; 
	padding:10px 0px; 
	color:#FFF; 
	background:#352812; 
	text-transform:uppercase; 
	border:none;
	border-radius:0px;}



.wpm_frooter_ending{ 
	width:100%; 
	background-color:#0066ff;
	padding:15px 0px;
	border-top:1px solid #443F43;} 
.wpm_frooter_ending p{ 
	font-size: 14px; 
	padding-top:5px; 
	color:#ccc;}
.wpm_frooter_list{
	margin-left:187px;}
.wpm_footer_menu{ 
	padding-top:5px;}
.wpm_frooter_ending a{
	color:#FFF; 
	margin-left:10px;}
.wpm_frooter_ending a:hover{ 
	color:#352812;}



/************footer end************/
